* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#FFF6C3;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF6C3;
  }
  
  i {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #FFF6C3;
  }
  p{
    color: #FFF6C3;
  }
  

  .navbar_center{
    margin-top: 13px;
    margin-left: 55px;
  }
  .navbar_a{
    text-transform: uppercase;
    font-weight: 200;
    margin-left: 50px;
    position: relative;
  }
  .navbar_a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    background-color: #FFF6C3;
    left: 50%;
    bottom: -10px;
    transition: 0.4s ease-in-out;
  }
  .navbar_center:hover .navbar_a::after {
    width: 100%;
    left: 0;
  }
  .navbar {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #212529;
    height: 95px;
    flex-direction: row;
    color: #FFF6C3;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
  }
  #first_image{
    width: 100%;
    height: 110vh;
    margin-top: -100px;
  }
  .pchn{
    margin-left: 100px;
    margin-top: -550px;
    font-weight: 100;
    font-size: 60px;
    color: #FFF6C3;
    text-transform: lowercase;
  }
  .pchn_sup{
    color: #FFF6C3;
    text-transform: lowercase;
    font-style: italic;
    margin-left: 105px;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
  }
  #getstarted_button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-transform: lowercase;
    background:none;
    height: 70px;
    width: 280px;
    font-size: 25px;
    border: solid 1.5px #FFF6C3;
    color: #FFF6C3;
    border-radius: 50px;  
    margin-top: 30px;  
    margin-left: 100px;
    transition: 0.5s;
}
#getstarted_button:hover{
    background-color: #FFF6C3;
}
  #shopping_cart{
    width: 30px;
  }
  .cart {
    float: left;
    position: relative;
    border: solid 1px #FFF6C3;
    color: #FFF6C3;
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 8px;
    margin-left: 95%;
    margin-top: -33px;
    margin-bottom:19px;
  }
  
  .cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 11px;
    background-color: #FFF6C3;
    color: #850000;
    width: 18px;
    padding: 3px;
    padding-left: 3px;
    border-radius: 50%;
  }
  .seperator1{
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    color: #FFF6C3;
    width: 100%;
    height: 150px;
    background-color: #212529;
    margin-top: 345px;
  }
  .si_content{
    color: #FFF6C3;
    margin-left: 50px;
    width: 650px;
    height: 400px;
    text-align: justify;
    position: relative;
    z-index: 100;
    margin-top: -920px;
    background-color: #212529;
    padding: 70px;
    border-radius: 40px;
  }
  .si_content2{
    color: #FFF6C3;
    margin-left: 740px;
    width: 650px;
    height: 400px;
    text-align: justify;
    position: relative;
    z-index: 100;
    margin-top: 65px;
    background-color: #212529;
    padding: 70px;
    border-radius: 40px;
  }
  #intro{
    font-size: 40px;
    font-weight: 100;
  }
  #intro1{
    font-size: 40px;
    font-weight: 600;
  }
  #intro_content{
    font-weight: 100;
    margin-top: 20px;
  }
  #sec_image{
    width: 100%;
    filter:brightness(90%);
  }
  .seperator2{
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    color: #FFF6C3;
    width: 100%;
    height: 150px;
    background-color: #212529;
  }
  .seperator3{
    padding-top: 160px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    color: #FFF6C3;
    width: 100%;
    height: 150px;
    background-color: #212529;
    margin-top: 50px;
  }
  .fi_content1{
    position: relative;
    margin-top: -850px;
    width: 800px;
    height: 350px;
    background-color: #212529;
    margin-left: 38%;
    border-radius: 30px;
  }
  #chaubui{
    width: 180px;
    border-radius: 50%;
    margin-top: 85px;
    margin-left: 85px;
  }
  .username{
    padding-left: 300px;
    margin-top: -185px;
    font-size: 35px;
    font-weight: 500;
  }
  .feedback_content{
    width: 400px;
    margin-left: 300px;
    font-weight: 100;
    margin-top: -10px;
    font-size: 15px;
    text-align: justify;
  }
  .rating{
    font-weight: 300;
    margin-left: 300px;
    margin-top: 17px;
  }
  .fi_content2{
    position: relative;
    margin-top: 50px;
    width: 800px;
    height: 350px;
    background-color: #212529;
    margin-left: 6%;
    border-radius: 30px;
  }
  #brandon{
    width: 180px;
    border-radius: 50%;
    margin-top: 85px;
    margin-left: 85px;
  }
  /**
  * ! Shop items styles are here
  **/
  .seperator4{
    margin-top: 300px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    color: #FFF6C3;
    height: 150px;
    background-color: #212529;
    margin-top: 50px;
  }
  .shop {
    padding-bottom: 100px;
      margin-right: 5px;
      margin-left: 5px;
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 100px;
    justify-content: center;
    position: relative;
    z-index: 1000000;
    background-color: #212529;
  }
  
  @media (max-width: 100px) {
    .shop {
      grid-template-columns: repeat(2, 223px);
    }
  }
  
  @media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
  }
  
  .item {
    background-color: #212529;
    color:#FFF6C3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    width: 260px;
    transition: 0.5s;
    border: solid 1px #FFF6C3;
    border-radius: 20px;
  }
  .item:hover{
    background: #212529;
  }
  .item_img{
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 35px;
    gap: 10px;
    font-weight: 100;
  }
  .price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
  }
  
  .bi-dash-lg {
    color: #FFF6C3;
  }
  
  .bi-plus-lg {
    color: #FFF6C3;
  }
  
  /**
  * ! style rules for label and some buttons
  **/
  
  .text-center {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
  }
  .cie{
    font-size: 50px;
  }
  .startcart{
    margin-top: 250px;
  }
  .footer {
    position: fixed;
    z-index: 100000000;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
}
.footer_content{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    display: flex;
    text-align: right;
    font-weight: 200;
}
.fa-brands{
    padding-left: 20px;
}
.icons{
  margin-left: 720px;
}
#footer_text{
  font-family: 'Montserrat', sans-serif;
}
  .HomeBtn,
  .checkout,
  .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .checkout {
    background-color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #FFF6C3;
    width: 120px;
    height: 50px;
  }
  .removeAll {
    background-color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #FFF6C3;
    width: 120px;
    height: 50px;
  }
  .bi-x-lg {
    color: red;
    font-weight: bold;
    margin-right: -55px
  }
  
  /**
  * ! style rules for shopping-cart
  **/
  
  .shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
  }
  
  /**
  * ! style rules for cart-item
  **/
  
  .cart-item {
    margin-left: -40px;
    width: 400px;
    display: flex;
    background-color: #212529;
  }
  
  .title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  .title-price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -20px;
  
  }
  
  .cart-item-price {
    padding-left: 20px;
   
  }
  .body{
    margin-top: -750px;
  }